geopandas==0.12.2
matplotlib==3.9.2
numpy==1.26.4
ipykernel==6.27.1
pandas==1.5.3
scipy==1.13.1
shapely==2.0.1
python-dotenv==0.21.1
pyeuropeana==0.1.7
streamlit==1.38.0
folium==0.14.0
streamlit_folium==0.22.0